html{
	background: linear-gradient(black,white);
}
h1{
	color:rgb(210,210,210);
	font-size: 3vw;
	text-align: center;
}

p{
	color:grey;
}
p.oblique{
	font-style:oblique;
}
i{
	color: #ff0000;
	background-color:#ffffff;
}
.but{
	font-size: 16px;
	padding: 2px 13px;
	display: inline-block;
	cursor: pointer;
	border: none;
	background-color: black;
	color:white;
}
#stbut{
	cursor: pointer;
	background-color: white;
	color:black;
	border: none;
	padding: 3px 14px;
	font-size:17px;
}
